@import url('https://fonts.googleapis.com/css?family=Nunito|Nunito+Sans:300,400,600,700,900|Playfair+Display');

/* font-family: 'Playfair Display', serif;
font-family: 'Nunito', sans-serif;
font-family: 'Nunito Sans', sans-serif; */

body{
	font-family: 'Nunito Sans';

}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1210px;
}
.ba-menu-container {
	max-width: 1750px;
	padding-left: 205px;
	padding-right: 170px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	width: 100%;
	padding: 34px 0 19px 19px;
	margin-bottom: 7px;
	border: none;
	background: #fff;
	border-bottom: 1px solid #333333;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
	outline: none;
}
textarea {

}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	display: none;

}
.ba-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 60px;
	z-index: 2;
}
/* .blood {
	background: url(../img/blood-l.png);
} */
.ba-hero {
	padding: 232px 0 64px 210px;
	position: relative;
	margin-bottom: 272px;
	z-index: 2;
}
.ba-hero__title {
	font: 900 97px/1 'Nunito Sans', sans-serif;
	color: #d22425;
	text-transform: uppercase;
	position: relative;
	display: inline-block;
	z-index: 2;
}
.ba-hero__title::after {
	content: '';
	position: absolute;
	height: 90px;
	width: 10px;
	background-color: #333333;
	top: 0;
	right: -26px;
}
.ba-hero p:first-child {
	font: 400 40px/1 'Nunito Sans', sans-serif;
	color: #dbdbdb;
	padding: 0 0 0 3px;
}
.ba-hero p:last-child {
	padding: 26px 0 0 4px;
	font: 300 70px/1 'Nunito Sans', sans-serif;
	color: #dbdbdb;
	letter-spacing: -1.3px;
}
.ba-hero p {
	margin: 0;
}
.ba-hero__desc {
	color: #333333;
}
/* .ba-hero__decor img {
	position: absolute;
	top: 0;
	background: url(../img/blood-l.png) no-repeat 0 100%;	
} */
.ba-scroll {
	text-align: center;
}
.ba-scroll a {
	display: block;
	text-align: center;
}
.ba-section-home {
	margin-bottom: 175px;
}
.ba-blood {
	position: absolute;
	top: 10px;
	left: 0;
}
/* Section About */

.ba-row-50{
	display: flex;
	width: 100%;
}
.ba-col-50 {
	width: 50%;
}
.ba-about {
	padding-top: 45px;
	padding-left: 10px;
	position: relative;
}
.ba-about p {
	margin: 0;
	padding-top: 33px;
	font-size: 17px;
	line-height: 1.69;
	text-align: justify;
	letter-spacing: normal;
	color: #8990a0;
	font-weight: 300;
}

.ba-about p + p {
	padding-top: 28px;
}

.ba-about__title {
	font: 400 60px/1.1 'Playfair Display', sans-serif;
	color:  #333333;
	letter-spacing: 0.5px;
	margin-bottom: 15px;
}
.ba-about__text {
	padding: 0 70px 0 50px;
}
.ba-about__desc {
	text-transform: uppercase;
	font: 700 17px/1 'Nunito Sans', sans-serif;
	letter-spacing: 1.5px;
	display: inline-block;
	margin-bottom: 15px;
}
.ba-text-bg {
	font: 400 110px/1 'Playfair Display', sans-serif;
	letter-spacing: 1.6px;
	position: absolute;
	top: 70px;
	left: -92px;
	color: rgba(90, 90, 90, 0.0313725);
}
.ba-blood-bg {
	font: 400 110px/1 'Playfair Display', sans-serif;
	letter-spacing: 0.7px;
	position: absolute;
	top: 27px;
	left: -92px;
	color: rgba(90, 90, 90, 0.0313725);
}
.ba-blog-desc-bg {
	font: 400 14px/1.5 'Nunito Sans', sans-serif;
	color:  #717171;
	top: 91px;
	left: 213px;
	position: absolute;
}
.ba-col-50 img {
	margin-left: 108px;
	box-shadow: 60px 60px #333333;
}
header img {
	z-index: 0;
	margin-left: -170px;
}
.ba-section-about {
	margin-bottom: 365px;
}
.ba-blog-title {
	font: 400 60px/1.1 'Playfair Display', sans-serif;
	color:  #333333;
	letter-spacing: 0.5px;
	margin-bottom: 15px;
	margin-left: 4px;
	word-spacing: -1px;
}
.ba-blog {
	position: relative;
	
}
.ba-blog__text {
	column-count: 2;
	column-gap: 61px;
	padding: 147px 294px 27px 108px;
}
.ba-blog p {
	/* margin: 0; */
	font-size: 17px;
	line-height: 1.69;
	text-align: justify;
	letter-spacing: normal;
	color: #8990a0;
	font-weight: 300;
	position: relative;
	margin-bottom: 31px;
	margin-top: 0;
	word-spacing: -1px;
}

.ba-blog p:first-of-type::first-letter {
	padding-left: 51px;
	/* float: left;
	font-size: 100px;
	color: rgb(23, 23, 23);
	line-height: 1;
	font-weight: 700;
	margin-top: -70px;
	position: absolute; */
}
.ba-blog p:first-of-type::before {
	content: 'F';
	font-size: 100px;
	position: absolute;
	top: -97px;
	left: -5px;
	color: rgb(23, 23, 23);
	font-weight: 700;
}
.ba-blog-blood {
	position: absolute;
	bottom: 8px;
	right: 13px;
	z-index: -1;
}
.ba-section-blog {
	position: relative;
	padding-bottom: 112px;
	margin-bottom: 310px;
}
.ba-blood-title {
	color: #333333;
	font: 400 60px/1.2 'Playfair Display', sans-serif;
	transform: rotate(270deg);
	position: absolute;
	bottom: 407px;
	right: 138px;
	z-index: 2;
}
.ba-blood-desc {
	position: absolute;
	font: 700 16px/1.2 'Nunito Sans', sans-serif;
	text-transform: uppercase;
	color: #d22425;
	transform: rotate(270deg);
	bottom: 447px;
	right: 165px;
	z-index: 2;
	background-color: #fff;
	padding: 0 10px;
	letter-spacing: 2.5px;
}
.ba-blog-btn {
	margin-left: 108px;
    text-decoration: none;
    color: #d22425;
    padding: 13px 35px;
    font-weight: 700;
    border: 1px solid #ccc;
}
.ba-blog-btn:hover {
	background-color: #d22425;
	color: #fff;
	border-color: #d22425;
}
.ba-logo {
	z-index: 2;
}
.ba-section-slider {
	position: relative;
	margin-bottom: 310px;
}
.ba-slider-title {
	font: 400 60px/1.1 'Playfair Display', sans-serif;
	color:  #333333;
	letter-spacing: 0.5px;
	margin-bottom: 15px;
	margin-left: 8px;
	word-spacing: -1px;
}
.ba-slider-bg {
	font: 400 110px/1 'Playfair Display', sans-serif;
	letter-spacing: 0.3px;
	position: absolute;
	top: 19px;
	left: 44px;
	color: rgba(90, 90, 90, 0.0313725);
}
.ba-slider {
	margin-top: 122px;
	display: flex;
	overflow: hidden;
}
.ba-slider-img {
	padding: 42px 76px 20px 50px;
	border: 1px solid #8990a0;
	flex: 0 0 33.3%;
}
.ba-slider img {
	padding-left: 22px;
}
.ba-slider-img p {
	font-size: 14px;
	color: #8990a0;
	line-height: 1.8;
	text-align: justify;
	margin-left: 7px;
	margin-top: 22px;
}
.ba-slider-img__title {
	font: 400 36px/1.2 'Playfair Display', sans-serif;
	letter-spacing: 0.3px;	
	color: #333333;	
	margin-left: 6px;
	max-width: 80%;
}
.ba-slider-link {
	text-decoration: none;
	color:  #d22425;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	display: block;
	margin-left: 10px;
	margin-top: 44px;
	letter-spacing: 1.6px;
}
.ba-slider-link:hover {
	text-decoration: underline;
}
.ba-contactUs-text {
	max-width: 307px;
}
.ba-contactUs-text p {
	font-size: 14px;
	line-height: 1.8;
	text-align: justify;
	color: #8990a0;
	margin: 34px 0 0 8px;
}
.ba-contactUs-title {
	font: 400 60px/1.1 'Playfair Display', sans-serif;
	color:  #333333;
	margin-bottom: 15px;
	margin-left: 8px;
	word-spacing: -1px;
}
.ba-section-contactUs {
	position: relative;
	z-index: 2;
}
.ba-contactUs-bg {
	font: 400 100px/1 'Playfair Display', sans-serif;
	letter-spacing: 0.2px;
	position: absolute;
	top: 221px;
	left: -52px;
	color: rgba(90, 90, 90, 0.0313725);
	transform: rotate(270deg);
}
.ba-form {
	padding: 30px 0 0 146px;
	border-bottom: 1px solid #333333;
}
.ba-form-btn {
	background-color: #d22425;
	border: 1px solid #d22425;
	color: #fff;
	text-transform: uppercase;
	margin-top: 62px;
    padding: 14px 30px;
    letter-spacing: 1.2px;
    margin-right: -7px;
}
.ba-form-btn:hover {
	background-color: #fff;
	color: #d22425;
}
.ba-flex {
	display: flex;
	justify-content: flex-end;
	padding-bottom: 144px;
}
.ba-form-textarea {
	padding-bottom: 30px;
}
.ba-footer {
	padding-top: 42px;
	text-align: center;
	color: #898f9f;
	position: relative;
}
.ba-footer-blood {
	position: absolute;
	bottom: 0;
	left: 0;
}
.ba-back-to-top {
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 33;
	background-color: #d22425;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0.3;
	transition: opacity .3s ease-in;
}
.ba-back-to-top:hover {
	opacity: 1;
}
.ba-back-to-top a {
	text-decoration: none;
	color: #fff;
}
